@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    --mid-blue: #3882f6;
    --dark-blue: #1f2937;
    --grey: #e5e7eb;
    --white: #f9faf8;
  }

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
}

header a {
    color: var(--grey);
    text-decoration: none;
    font-size: 18px;
}

header nav #logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

#hero-section #hero-text {
    color: var(--grey);
}

#hero-section #hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

#hero-section #hero-text p {
    font-size: 18px;
}

button {
    border-radius: 5px;
    padding: 5px 20px;
    color: var(--white);
    background-color: var(--mid-blue);
}

#hero-section button {
    border: none;
}

#call-to-action button {
    border: 0.5px solid var(--white);
}