@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
    --mid-blue: #3882f6;
    --dark-blue: #1f2937;
    --grey: #e5e7eb;
    --white: #f9faf8;
  }

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
}

button {
    border-radius: 5px;
    padding: 5px 20px;
    color: var(--white);
    background-color: var(--mid-blue);
}

/* header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

header a {
    color: var(--grey);
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}

header #logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

/* hero section styles */

#hero-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5em;
    padding: 20px;
}

#hero-section img {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

#hero-section #hero-text {
    color: var(--grey);
    flex-basis: 400px;
}

#hero-section #hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

#hero-section #hero-text p {
    font-size: 18px;
}

#hero-section button {
    border: none;
    font-size: 18px;
}

/* info section styles */

#random-info {
    background-color: var(--white);
}

/* testimonial styles */

#testimonial {
    background-color: var(--grey);
}

/* call to action styles */

#call-to-action {
    background-color: var(--white);
}

#call-to-action button {
    border: 0.5px solid var(--white);
}